<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Looped In</title>

    <script type="">
        function scroll() {
            window.scrollBy(100, 0);
        }
    </script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- Jquery -->
    <script src="jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {

            // fade in #back-top
            $(function () {
                // scroll body to 0px on click
                $('#learn-more a').click(function () {
                    $('body,html').animate({scrollTop: $elem.height()}, 800);
                    return false;
                });
            });

        });
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup/css/home.css' %}"/>
</head>

<body>

<div class="container-fluid" id="bg">
    <div class="row">
        <div class="center">
            <img id="logo" src="{% static 'signup/img/logo.png' %}" alt="">
            <div id="title">Looped In</div>
            <br/><br/>
            <a href="{% url 'signup:signin' %}">
                <button type="button" class="btn btn-primary">Login</button>
            </a>
            <a href="{% url 'signup:signup' %}">
                <button type="button" class="btn btn-primary">Sign Up</button>
            </a>
        </div>
    </div>
</div>


<div class="container-fluid" id="bg-2">
    <div class="row">
        <div class="center">
        </div>
    </div>
</div>

<div class="container-fluid" id="bg-3">
    <div class="row">
        <div class="center">
        </div>
    </div>
</div>

<div class="container-fluid" id="bg-4">
    <div class="row">
        <div class="center">
        </div>
    </div>
</div>

</body>
</html>