<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to Looped In</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup/css/main.css' %}"/>
</head>

<body>

<nav class="navbar navbar-light">
    <a class="navbar-brand ml-auto mr-auto">
        <img id="logo" src="{% static 'signup/img/logo.png' %}" width="278" height="178" alt="">
        Looped In
    </a>
</nav>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'signup:dashboard' %}" method="post" id="form">
                {% csrf_token %}
                <input type="text" class="form-control" name="username"
                       placeholder="Username" autocomplete="off" style="margin-top: 50px;">
                <input type="password" class="form-control" name="password"
                       placeholder="Password" autocomplete="off" style="margin-top: 40px;">
                <input type="submit" value="Next" id="next-button" class="btn">
            </form>
        </div>
    </div>
</div>
</body>
</html>