body {
    background-color: #dddddd;
}

.navbar {
    background-color: transparent;
    color: white;
    font-family: Quicksand, sans-serif;
    padding: 20px;
}

#logo {
    width: 20em;
    margin-left: 10px;
}

#bg {
    height: 58vw;
    background-image: url("https://umcomplianceenv2.blob.core.windows.net/umcognatecsetest/PS_0010_USCongress.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
}

#bg-2 {
    height: 50vw;
    background-image: url("https://www.gannett-cdn.com/-mm-/0cf0cbe79e52de6710f9e1589d9d8f991933bfcc/c=0-405-4808-3121/local/-/media/2018/04/03/USATODAY/USATODAY/636583167376650155-AP-TEACHER-PROTESTS-98881082.JPG?width=3200&height=1680&fit=crop");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
}

.topBanner {
    color: white;
}

.topBanner {
    color: white;
    background-color: rgba(0,0,0,0.6);
    font-size: 100px;
    margin-top:10px;
    margin-left: 20px;
}

.info {

    color:white;
    background-color: rgba(0,0,0,0.6);
    font-size: 30px;
    margin-top: 50px;
    margin-left: 500px;
    line-height: 2;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px;
}

#bg-3 {
    height: 50vw;
    background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/180221210754-02-parkland-town-hall-rubio-with-students.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
}

#bg-4 {
    height: 60vw;
    background-image: url("https://storage.googleapis.com/afs-prod/media/media:6e186fbeb8ba48358df37ac88e3499dd/2000.jpeg");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
}

#bg-5 {
    height: 10vw;
/*    background-image: url("https://storage.googleapis.com/afs-prod/media/media:6e186fbeb8ba48358df37ac88e3499dd/2000.jpeg");*/
    background-color: rgba(0,0,0,0.6);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    background-attachment: fixed;
}

#learn-more {
    margin-left: 40px;
}

#title {
    font-size: 80px;
    color: white;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.btn-primary {
    background-color: transparent;
    border-color: white;
    border-width: 3px;
    font-size: 30px;
}

.hidden-button {
    display: none;
    visibility: hidden;
}

#about {
    background-image: url("https://shemovesmedotcom.files.wordpress.com/2015/08/uspreamble6w96.jpg?w=660");
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    background-attachment: fixed;
    width: 100%;
    height: 10em;
}