body {
    background-color: rgb(72, 149, 248);
    color: white;
    font-size: 60px;
    font-family: Quicksand, sans-serif;
}

.navbar {
    margin-top: 120px;
}

.navbar-brand {
    font-size: 80px;
}

#topics-info {
    font-size: 45px;
    margin-top: 20px;
}

.form-control {
    font-size: 3vw;
    padding: 40px;
}

#next-button {
    width: 100%;
    margin-top: 40px;
    border-color: white;
    border-width: 0px;
    background-color: white;
    font-size: 40px;
}

.topic-radio {
    opacity: 0;
}

.card {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .60), -5px -5px 10px rgba(20, 20, 20, .14);
    color: black;
    font-size: 30px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
}

.rep-photo {
    height: 7em;
    width: 6em;
    border-radius: 400px;
}

.info {
    padding-left: 40px;
}

.website {
    padding-bottom: 20px;
}

.subtilte {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

.next {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 60px;
    text-align: center;
    height: 3em;
}

.confirm-box {
    margin-top: 20px;
    font-size: 40px;
    padding: 40px;
    text-align: left;
    height: 420px;
}

.btn-primary {
    background-color: rgb(72, 149, 248);
    border-color: white;
    border-width: 3px;
    font-size: 40px;
}

@media screen and (max-width: 710px) {
    .navbar-brand {
        font-size: 40px;
    }

    #logo {
        width: 139px;
        height: 89px;
    }

    .form-control {
        height: 5em;
        font-size: 40px;
    }
}

@media screen and (max-width: 550px) {
    .form-control {
        height: 6em;
        font-size: 40%;
    }
}

@media screen and (max-width: 375px) {
    .navbar-brand {
        font-size: 40px;
    }

    #logo {
        width: 93px;
        height: 59px;
    }
}